.App {
  text-align: center;
}
.nav-route{
  display : flex;
  justify-content: space-between;
}
.list{
  list-style: none;
  white-space: nowrap;
  padding-right: 30px;
}
ul li{
  display: inline;
  padding-right: 30px;
}
.app-header > h2 {
  margin: 0;
  color: #c3d8fd;
  cursor: pointer;
  transition: all 0.4s;
}
.app-header > h2:hover {
  color: #FFF;
}

.search {
  position: absolute;
  top: 12px;
  right: 90px;
}

.search > input[type="text"] {
  border: none;
  padding: 8px 14px;
  color: #666;
  width: 230px;
  font-size: 14px;
  transition: all .3s ease-in-out;
  background-color: #c3d8fd;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}