.App {
  text-align: center;
}
.nav-route{
  display : flex;
  justify-content: space-between;
}
.list{
  list-style: none;
}
.app-header > h2 {
  margin: 0;
  color: #c3d8fd;
  cursor: pointer;
  transition: all 0.4s;
}