.App {
  text-align: center;
}
.nav-route{
  display : flex;
  justify-content: space-between;
}
.list{
  list-style: none;
  white-space: nowrap;
  padding-right: 30px;
}
ul li{
  display: inline;
  padding-right: 30px;
}
.app-header > h2 {
  margin: 0;
  color: #c3d8fd;
  cursor: pointer;
  transition: all 0.4s;
}
.app-header > h2:hover {
  color: #FFF;
}